#mainContainer{
    height:90vh;
    margin-top:13%;
    text-align: center;
    /* display:grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'header'
    'inputs'
    'maps'; */
}

#supportBox{
    margin:auto;
    height:85vh;
    width:75vh;
    background-color: #2B2B2B;
    box-sizing: border-box;
    padding: 10px;
    grid-area: inputs;
}

#supportBox input{
    background-color: #D9D9D9;
    border:none;
    font-size: medium;
    padding: 2%;
    margin: 2%;
}

.nameInput{
    float: left;
}

.emailInput {
    float: right;
}

.descInput{
width:95%;
margin: 2%;
height: 20vh;
color: #2B2B2B;
font-weight: bolder;
background-color: #D9D9D9;
font-size: medium;
font-family: 'Trebuchet MS'
}

#supportBox h1 {
    color:white;
}

::placeholder {
    color: #2B2B2B;
    font-weight: bolder;
}

.supportSubmit{
     padding: 2% 8% 2% 8%;
     background-color: #7800C6;
     color:white;
     border:none;
    font-family: 'Trebuchet MS';
    font-size: medium;
}

#googleMap{
margin:auto;
height:30vh;
width:40vh;
margin-top: 5%;
}
/* .supportHeader{
grid-area: header;
} */
