nav .header-top {
  overflow: hidden;
  background-color: #1698de;
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 5;
  height: 30px;
}
nav .header-top p {
  color: white;
  text-align: center;
  margin-top: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
nav .header-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #161616;
  position: fixed;
  width: 100%;
  top: 30px;
  z-index: 3;
  box-shadow: 0px 0px 20px #1698de;
  height: 14vh;
}
nav .header-body a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
}
nav .dropdown {
  display: none;
}
nav .header-tags {
  font-weight: lighter;
  margin-right: 2rem;
}
nav .header-tags a {
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-right: 5px;
  padding-bottom: 12px;
  padding-left: 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  width: 100px;
  margin-bottom: -10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
nav .header-tags a:hover {
  background-color: #343434;
  font-weight: bolder;
  transition: 0.6s;
  font-size: 21px;
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(to right, #008080, #1698de) 1;
}
nav .logo {
  width: clamp(11.25rem, -3.75rem + 80vw, 16.25rem);
  aspect-ratio: 26/9;
}

@media (max-width: 640px) {
  .header-tags {
    display: none;
  }
  nav .dropdown {
    display: block;
    margin-top: 55px;
    margin-right: 20px;
    font-weight: lighter;
    position: relative;
  }
  nav .dropdown a:hover {
    background-color: #ddd;
  }
  nav .dropbtn {
    display: block;
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  nav .dropbtn:hover,
  nav .dropbtn:focus {
    background-color: black;
  }
  nav .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 104px;
    height: 160px;
  }
  nav .dropdown-content a {
    color: rgb(12, 9, 9);
    text-decoration: none;
    display: block;
  }
  nav .show {
    display: block;
  }
}
body {
  background-color: white;
}

.image-container {
  width: 100%;
  height: calc(86vh - 30px);
  display: flex;
  align-items: flex-end;
  margin-top: calc(14vh + 30px);
}
.image-container .opening {
  width: 27vw;
  height: 26vw;
  background-color: #161616;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.image-container .opening h4 {
  font-size: 1vw;
}
.image-container .opening h3 {
  font-size: 1.2vw;
  padding-bottom: 0;
  padding-top: 0;
}
.image-container .opening h2 {
  font-size: 2.5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}
.image-container .opening .startInfo {
  text-align: center;
  font-weight: lighter;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 8%;
}
.image-container .opening .learn {
  display: flex;
  justify-content: center;
}
.image-container .opening span {
  color: #1698de;
  font-weight: 800;
}
.image-container .rightTriangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 26vw solid transparent;
  border-left: 15vw solid #161616;
  border-bottom: 0px solid transparent;
  border-right: 0px solid transparent;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 27vw;
}

.mainPc {
  margin-left: 50%;
  padding-top: 100px;
}

.desktopDesign .black-right-triangle {
  position: absolute;
  border-top: 30vw solid transparent;
  border-left: 15vw solid #161616;
  border-bottom: 0px solid transparent;
  border-right: 0px solid transparent;
  margin-top: -30vw;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 35vw;
}
.desktopDesign .black-left-triangle {
  position: absolute;
  border-top: 30vw solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 15vw solid #161616;
  margin-top: -30vw;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 50vw;
}
.desktopDesign .black-space {
  width: 35vw;
  height: 30vw;
  background-color: #161616;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  justify-items: center;
}
.desktopDesign .black-space p {
  font-size: 1.6vw;
  margin-left: 1vh;
  margin-right: 1vh;
}
.desktopDesign .black-space h2 {
  font-size: 2vw;
}
.desktopDesign .computer-repair,
.desktopDesign .laptop-repair,
.desktopDesign .virus-removal {
  margin-left: 0vw;
  width: 100vw;
}
.desktopDesign .laptop-repair .black-space {
  margin-left: 65vw;
  margin-right: 0;
}
.desktopDesign .computer-repair.hover,
.desktopDesign .laptop-repair.hover,
.desktopDesign .virus-removal.hover {
  width: 0vw;
  height: 30vw;
  background-image: url("../../272328.d9fb89f56b4c295a5ef03fb9ec55641a.1600.jpg");
}
.desktopDesign h2 {
  font-size: 30px;
  margin-top: 1vw;
}

.mobileDesign {
  display: none;
}

.buttons {
  background: linear-gradient(to right, #1698de, #5b58ff) padding-box, linear-gradient(to right, #1698de, #5b58ff) border-box;
  border-radius: 1em;
  border: 5px solid transparent;
  color: white;
  font-weight: bold;
  font-size: 2vw;
  width: 20vw;
  height: 5vw;
  margin-left: 6vw;
  margin-right: auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

#size {
  width: auto;
  height: clamp(18.75rem, -1.339rem + 53.571vw, 46.875rem);
  margin-left: clamp(3rem, -3.429rem + 17.143vw, 12rem);
}

footer {
  width: 100%;
  height: 40vh;
  display: flex;
  background-color: #2B2B2B;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
  padding-top: 12px;
  padding-right: 5px;
  padding-bottom: 12px;
  padding-left: 5px;
  font-size: 1.5vw;
}
footer .footer-left {
  display: flex;
  justify-content: center;
  width: 50vw;
  float: left;
  flex-direction: column;
}
footer .footer-left .footer-row {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  height: 5vh;
}
footer .footer-left .footer-row a:hover {
  background-color: #343434;
  transition: 0.6s;
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(to right, #008080, #7800C6) 1;
}
footer .footer-left .footer-column {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
  height: 10vh;
  padding-top: 5vh;
  font-size: 1.5vw;
  border-top: 2px solid white;
  margin-left: auto;
  margin-right: auto;
}
footer .footer-right {
  width: 50vw;
  float: right;
}
footer .footer-right img {
  width: 48vw;
  height: 35vh;
}

.serviceContainer {
  margin-top: calc(14vh + 30px);
  padding-top: 2rem;
}

.info, .info-bottom {
  transition: all 2s ease;
  display: flex;
  justify-content: center;
  width: 70vw;
  height: 50vh;
  margin-left: 15vw;
  flex-wrap: wrap;
}

.info-bottom {
  margin-bottom: 20vh;
  margin-top: -50vh;
}
.info-bottom .h1 {
  margin-top: 15vh;
  font-size: 3vw;
  text-shadow: 0px 0px 10px #1698de;
}
.info-bottom .h2 {
  font-size: 1vw;
  text-shadow: 0px 0px 10px #1698de;
}

.right {
  display: block;
  width: 30vw;
  height: 20vw;
  background-color: #2b2b2b;
  color: white;
  text-align: center;
  border-top: 4px solid #1698de;
  border-bottom: 4px solid #1698de;
}
.right p {
  margin-top: -15px;
  width: 25rem;
  font-weight: lighter;
}
.right button {
  background: linear-gradient(to right, #1698de, #5b58ff) padding-box, linear-gradient(to right, #1698de, #5b58ff) border-box;
  padding: 10px 20px 10px 20px;
  color: white;
  border-radius: 2em;
  font-weight: bolder;
  width: 10rem;
  top: 10rem;
  margin-top: 30px;
}

#rightOne {
  border: 4px solid #1698de;
  border-radius: 10px;
}

#rightTwo {
  border: 4px solid #1698de;
  border-radius: 10px;
}

.hidden {
  display: none;
  transition: all 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.info.hover, .hover.info-bottom {
  height: 25vh;
  justify-content: space-between;
}

.info-bottom.hover {
  height: 25vh;
  margin-top: 30vh;
  justify-content: center;
}

#bottom.hover {
  border: 4px solid #1698de;
  border-radius: 10px;
  box-shadow: 0px 0px 30px #1698de;
}

#rightOne.hover {
  box-shadow: 0px 0px 30px #1698de;
}

#rightTwo.hover {
  box-shadow: 0px 0px 30px #1698de;
}

.hidden.hover {
  display: inline-block;
  animation: fadeIn 5s;
}

.h1.hover {
  display: none;
}

h3 {
  padding-top: 15px;
  padding-bottom: 30px;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

#mainContainer {
  height: 50vw;
  display: flex;
  justify-content: center;
  margin-top: calc(14vh + 30px);
  padding-top: 3rem;
}
#mainContainer #supportBox {
  width: 45vw;
  height: 45vw;
  background-color: #2b2b2b;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#mainContainer #supportBox .supportHeader {
  font-size: 30px;
  margin-top: 2vh;
  margin-right: 0;
  margin-bottom: 2vh;
  margin-left: 0;
  color: white;
}
#mainContainer #supportBox .inputs {
  display: flex;
  justify-content: space-evenly;
  width: 45vw;
  height: 5vh;
}
#mainContainer #supportBox .inputs input {
  background-color: #d9d9d9;
  border: none;
  font-size: medium;
  width: 18.6vw;
  height: 6vh;
}
#mainContainer #supportBox .descInput {
  width: 40vw;
  height: 20vh;
  color: #2b2b2b;
  font-weight: bolder;
  background-color: #d9d9d9;
  font-size: medium;
  font-family: "Trebuchet MS";
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
#mainContainer #supportBox ::placeholder {
  color: #2b2b2b;
  font-weight: bolder;
}
#mainContainer #supportBox .supportSubmit {
  width: 25vw;
  height: 5vh;
  background-color: #7800c6;
  border: none;
  font-family: "Trebuchet MS";
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5%;
  margin-top: 5%;
  background: linear-gradient(to right, #1698de, #5b58ff) padding-box, linear-gradient(to right, #1698de, #5b58ff) border-box;
  border: 5px solid transparent;
  font-size: 20px;
  border-radius: 1em;
  color: white;
}
#mainContainer #supportBox #map-responsive {
  overflow: hidden;
  position: relative;
  height: 40%;
  margin: auto;
  background-color: #d9d9d9;
  width: 80%;
  margin-bottom: 3.5%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: white;
}

.image-container {
  width: 100%;
  height: calc(86vh - 30px);
  display: flex;
  align-items: flex-end;
  margin-top: calc(14vh + 30px);
}
.image-container .opening {
  width: 27vw;
  height: 26vw;
  background-color: #161616;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.image-container .opening h4 {
  font-size: 1vw;
}
.image-container .opening h3 {
  font-size: 1.2vw;
  padding-bottom: 0;
  padding-top: 0;
}
.image-container .opening h2 {
  font-size: 2.5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}
.image-container .opening .startInfo {
  text-align: center;
  font-weight: lighter;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 8%;
}
.image-container .opening .learn {
  display: flex;
  justify-content: center;
}
.image-container .opening span {
  color: #1698de;
  font-weight: 800;
}
.image-container .rightTriangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 26vw solid transparent;
  border-left: 15vw solid #161616;
  border-bottom: 0px solid transparent;
  border-right: 0px solid transparent;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 27vw;
}

.mainPc {
  margin-left: 50%;
  padding-top: 100px;
}

.desktopDesign .black-right-triangle {
  position: absolute;
  border-top: 30vw solid transparent;
  border-left: 15vw solid #161616;
  border-bottom: 0px solid transparent;
  border-right: 0px solid transparent;
  margin-top: -30vw;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 35vw;
}
.desktopDesign .black-left-triangle {
  position: absolute;
  border-top: 30vw solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 15vw solid #161616;
  margin-top: -30vw;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 50vw;
}
.desktopDesign .black-space {
  width: 35vw;
  height: 30vw;
  background-color: #161616;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  justify-items: center;
}
.desktopDesign .black-space p {
  font-size: 1.6vw;
  margin-left: 1vh;
  margin-right: 1vh;
}
.desktopDesign .black-space h2 {
  font-size: 2vw;
}
.desktopDesign .computer-repair,
.desktopDesign .laptop-repair,
.desktopDesign .virus-removal {
  margin-left: 0vw;
  width: 100vw;
}
.desktopDesign .laptop-repair .black-space {
  margin-left: 65vw;
  margin-right: 0;
}
.desktopDesign .computer-repair.hover,
.desktopDesign .laptop-repair.hover,
.desktopDesign .virus-removal.hover {
  width: 0vw;
  height: 30vw;
  background-image: url("../../272328.d9fb89f56b4c295a5ef03fb9ec55641a.1600.jpg");
}
.desktopDesign h2 {
  font-size: 30px;
  margin-top: 1vw;
}

.mobileDesign {
  display: none;
}

.buttons {
  background: linear-gradient(to right, #1698de, #5b58ff) padding-box, linear-gradient(to right, #1698de, #5b58ff) border-box;
  border-radius: 1em;
  border: 5px solid transparent;
  color: white;
  font-weight: bold;
  font-size: 2vw;
  width: 20vw;
  height: 5vw;
  margin-left: 6vw;
  margin-right: auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

#size {
  width: auto;
  height: clamp(18.75rem, -1.339rem + 53.571vw, 46.875rem);
  margin-left: clamp(3rem, -3.429rem + 17.143vw, 12rem);
}

#mainContainer {
  height: 50vw;
  display: flex;
  justify-content: center;
  margin-top: calc(14vh + 30px);
  padding-top: 3rem;
}
#mainContainer #supportBox {
  width: 45vw;
  height: 45vw;
  background-color: #2b2b2b;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#mainContainer #supportBox .supportHeader {
  font-size: 30px;
  margin-top: 2vh;
  margin-right: 0;
  margin-bottom: 2vh;
  margin-left: 0;
  color: white;
}
#mainContainer #supportBox .inputs {
  display: flex;
  justify-content: space-evenly;
  width: 45vw;
  height: 5vh;
}
#mainContainer #supportBox .inputs input {
  background-color: #d9d9d9;
  border: none;
  font-size: medium;
  width: 18.6vw;
  height: 6vh;
}
#mainContainer #supportBox .descInput {
  width: 40vw;
  height: 20vh;
  color: #2b2b2b;
  font-weight: bolder;
  background-color: #d9d9d9;
  font-size: medium;
  font-family: "Trebuchet MS";
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
#mainContainer #supportBox ::placeholder {
  color: #2b2b2b;
  font-weight: bolder;
}
#mainContainer #supportBox .supportSubmit {
  width: 25vw;
  height: 5vh;
  background-color: #7800c6;
  border: none;
  font-family: "Trebuchet MS";
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5%;
  margin-top: 5%;
  background: linear-gradient(to right, #1698de, #5b58ff) padding-box, linear-gradient(to right, #1698de, #5b58ff) border-box;
  border: 5px solid transparent;
  font-size: 20px;
  border-radius: 1em;
  color: white;
}
#mainContainer #supportBox #map-responsive {
  overflow: hidden;
  position: relative;
  height: 40%;
  margin: auto;
  background-color: #d9d9d9;
  width: 80%;
  margin-bottom: 3.5%;
}

#subpagesMain {
  height: 40vw;
  display: flex;
  margin: 0 5vw 5vw 5vw;
  box-shadow: 0px 0px 20px #1698de;
}

#leftPicture {
  background-color: aliceblue;
  display: flex;
  width: 55%;
}

#rightContent {
  border: 2px solid #343434;
  background-color: #343434;
  width: 45%;
  text-align: center;
}
#rightContent .contentHeader {
  font-size: 30px;
  margin-top: 4vh;
  margin-right: 2vh;
  margin-bottom: 2vh;
  margin-left: 2vh;
  color: white;
}
#rightContent .contentParagraph {
  font-size: 1.3vw;
  margin-top: 1vh;
  margin-right: 2vh;
  margin-bottom: 1vh;
  margin-left: 2vh;
  color: white;
}

@media (max-width: 1100px) {
  #rightContent .contentHeader {
    margin-top: 2vh;
  }
  #subpagesMain {
    height: 60vh;
  }
  #rightContent .contentParagraph {
    font-size: 1.5vw;
  }
}
@media (max-width: 1000px) {
  #rightContent .contentParagraph {
    font-size: 1.75vw;
  }
  #subpagesMain {
    margin-top: 5%;
  }
}
@media (max-width: 900px) {
  .image-container .rightTriangle {
    display: none;
  }
  .image-container .opening {
    height: calc(86vh - 30px);
    margin-top: calc(14vh + 30px);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
  }
  .image-container .opening .startInfo {
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }
  .image-container .opening .startTitle {
    font-size: 1.75rem;
  }
  .image-container .opening .startSubTitle {
    font-size: 1.25rem;
  }
  .image-container .opening .buttons {
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 870px) {
  #rightContent .contentParagraph {
    font-size: 1.9vw;
  }
  .contentHeader {
    font-size: 2vw;
  }
}
@media (max-width: 870px) {
  #subpagesMain {
    height: 60vh;
  }
}
@media (max-width: 760px) {
  #rightContent .contentParagraph {
    font-size: 2vw;
  }
}
@media (max-width: 670px) {
  #subpagesMain {
    margin-top: 8%;
  }
  .contentHeader {
    margin-bottom: 1vh;
  }
}
@media (max-width: 600px) {
  .image-container {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }
  .image-container .opening {
    width: clamp(15.313rem, -1.563rem + 90vw, 29.375rem);
    height: 200px;
    aspect-ratio: 2/1;
    margin-top: 0;
    gap: 0;
    justify-content: space-evenly;
    position: static;
  }
  .image-container .opening .startInfo {
    font-size: 0.75rem;
  }
  .image-container .opening .startTitle {
    font-size: 1.5rem;
  }
  .image-container .opening .startSubTitle {
    font-size: 1rem;
  }
  .image-container .mainPc {
    margin: 0;
    padding: 0;
  }
  .image-container .mainPc #size {
    margin-left: 0;
    width: 60vw;
    height: auto;
  }
  .black-right-triangle {
    display: none;
  }
  .black-left-triangle {
    display: none;
  }
  .desktopDesign {
    display: none;
  }
  .mobileDesign {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .mobileDesign .mobileLeft {
    margin-right: clamp(0rem, -45rem + 160vw, 15rem);
  }
  .mobileDesign .mobileRight {
    margin-left: clamp(0rem, -45rem + 160vw, 15rem);
  }
  .mobileDesign .mobileContent {
    width: 40vw;
    background-color: #161616;
    color: white;
  }
  .mobileDesign .mobileContent .innerContent {
    padding: 1rem;
  }
  .mobileDesign .mobileContent .innerContent h2 {
    font-size: clamp(1rem, 0.75rem + 1.333vw, 1.25rem);
    margin-bottom: 1rem;
    text-align: center;
  }
  .mobileDesign .mobileContent .innerContent p {
    padding-left: 0.5rem;
    font-size: clamp(0.75rem, 0.5rem + 1.333vw, 1rem);
  }
  .mobileDesign .mobileContent .innerContent .buttonContainer {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobileDesign .mobileContent .innerContent .buttonContainer .buttons {
    margin: 0;
  }
  .mobileDesign .mobileContent .image {
    width: 100%;
    aspect-ratio: 3/2;
    background-image: url(../../272328.d9fb89f56b4c295a5ef03fb9ec55641a.1600.jpg);
    background-repeat: none;
    background-size: cover;
  }
  .mobileDesign .mobileContent .img1 {
    background-position: 10% 50%;
  }
  .mobileDesign .mobileContent .img2 {
    background-position: 50% 10%;
  }
  .mobileDesign .mobileContent .img3 {
    background-position: 40% 30%;
  }
  footer {
    flex-direction: column;
    height: auto;
  }
  footer .footer-left {
    width: 100vw;
    align-items: center;
    margin-top: 0.75rem;
  }
  footer .footer-left .footer-row a {
    font-size: 1.25rem;
  }
  footer .footer-left .footer-column {
    font-size: 1rem;
    margin: 0;
    width: 75%;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    text-align: center;
  }
  footer .footer-right {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .footer-right img {
    width: clamp(15.625rem, -1.531rem + 91.5vw, 27.063rem);
    height: auto;
  }
}
@media (max-width: 560px) {
  #subpagesMain {
    margin-top: 10%;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 70vh;
  }
  #leftPicture {
    display: grid;
    width: 100%;
    margin-top: 3%;
  }
  #rightContent {
    display: grid;
    width: 100%;
  }
  #rightContent .contentHeader {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  #rightContent .contentParagraph {
    font-size: 2.8vw;
    margin-top: 0;
    margin-bottom: 0;
  }
  .buttons {
    font-size: 2vw;
    height: 8vw;
    width: 12vh;
  }
}
@media (max-width: 450px) {
  .mobileDesign .mobileContent {
    width: 80vw;
  }
}
@media (max-width: 400px) {
  #rightContent .contentParagraph {
    font-size: 3vw;
  }
  .buttons {
    font-size: 2.5vw;
    height: 10vw;
    width: 14vh;
  }
}
.buttons1 {
  background: linear-gradient(to right, #1698de, #5b58ff) padding-box, linear-gradient(to right, #1698de, #5b58ff) border-box !important;
  color: white;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 10vh;
  padding-right: 10vh;
  border-radius: 5em;
}

.desktopPicture {
  background-image: url(../../../FO7bXEwX0AM1hjB.jfif);
}

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  margin: 0;
  background-color: white;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  background: black;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}/*# sourceMappingURL=style.css.map */