@import "../utils/size.scss";

@mixin flex($content){
    display: flex;
    justify-content: $content;
}

footer{
    @include size(100%, 40vh);
    background-color: #2B2B2B;
    color: white;
    a {
        color: white;
        text-decoration: none;
    }

    .footer-top {
        @include flex(space-between);
        .footer-row {
            @include flex(space-evenly);
            width: 25vw;
            padding-top: 5vh;
            font-size: larger;
        }
    
        .img {
            width: 20vw;
        }
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
        width: 20vw;
    }
}