@import '../utils/size.scss', '../utils/margin.scss';

.image-container {
  margin-top: -13vw;
  @include size(100%, 53vw);
  background-image: url('../../image-container.jpg');

  .opening {
    @include size(calc(27vw - 5px), 26vw);
    background-color: #2b2b2b;
    color: white;
    position: absolute;
    margin-top: 27.2vw;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-size: 30px;
      margin-top: 1vw;
    }
    h4 {
      font-size: 15px;
      font-weight: 200;
      margin-bottom: 1vw;
    }

    .startInfo {
      text-align: center;
      font-weight: lighter;
      font-size: clamp(0.625rem, 0rem + 2vw, 1.75rem);
      @include margin(5px, 0, 5px, 0);
    }
    .learn {
      display: flex;
      justify-content: center;
      .buttons {
        background: linear-gradient(
              to right,
              rgb(214, 14, 225),
              rgb(98, 14, 141)
            )
            padding-box,
          linear-gradient(to right, rgb(214, 14, 225), rgb(98, 14, 141))
            border-box;
        border-radius: 1em;
        border: 5px solid transparent;
        color: white;
        font-weight: bold;
        font-size: 20px;
        @include size(20vw, 5vw);
      }
    }
  }
  .rightTriangle {
    position: absolute;
    @include size(0, 0);
    border-top: 26vw solid transparent;
    border-left: 15vw solid #2b2b2b;
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent;
    @include margin(27.21vw, 0, 0, 27vw);
  }
}

.black-right-triangle {
  position: absolute;
  border-top: 30vw solid transparent;
  border-left: 15vw solid #2b2b2b;
  border-bottom: 0px solid transparent;
  border-right: 0px solid transparent;
  margin-left: 35vw;
  margin-top: -30vw;
}
.black-left-triangle {
  position: absolute;
  border-top: 30vw solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 15vw solid #2b2b2b;
  margin-left: 40.3vw;
  margin-top: -30vw;
}
.black-space {
  @include size(35vw, 30vw);
  background-color: #2b2b2b;
}

.computer-repair,
.laptop-repair,
.virus-removal {
  margin-left: 5vw;
}

.laptop-repair {
  .black-space {
    margin-left: 55.3vw;
  }
}

.computer-repair.hover,
.laptop-repair.hover,
.virus-removal.hover {
  @include size(0vw, 30vw);
  background-image: url('../../image-container.jpg');
}
