@import '../utils/size.scss', '../utils/margin.scss', './index.scss',
  './support.scss';

#subpagesMain {
  height: 40vw;
  display: flex;
  margin: 0 5vw 5vw 5vw;
  box-shadow: 0px 0px 20px #1698de;
}

#leftPicture {
  background-color: aliceblue;
  display: flex;
  width: 55%;
}

#rightContent {
  border: 2px solid #343434;
  background-color: #343434;
  width: 45%;
  text-align: center;

  .contentHeader {
    font-size: 30px;
    @include margin(4vh, 2vh, 2vh, 2vh);
    color: white;
  }

  .contentParagraph {
    font-size: 1.3vw;
    @include margin(1vh, 2vh, 1vh, 2vh);
    color: white;
  }
}

//media queries
//below 1400
@media (max-width: 1100px) {
  #rightContent .contentHeader {
    margin-top: 2vh;
  }

  #subpagesMain {
    height: 60vh;
  }

  #rightContent .contentParagraph {
    font-size: 1.5vw;
  }
}

@media (max-width: 1000px) {
  #rightContent .contentParagraph {
    font-size: 1.75vw;
  }

  #subpagesMain {
    margin-top: 5%;
  }
}
@media (max-width: 900px) {
  .image-container {
    .rightTriangle {
      display: none;
    }
    .opening {
      height: calc(calc(100vh - 14vh) - 30px);
      margin-top: calc(14vh + 30px);
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      padding: 10px;
      .startInfo {
        margin: 0;
        padding: 0;
        font-size: 1rem;
      }
      .startTitle {
        font-size: 1.75rem;
      }
      .startSubTitle {
        font-size: 1.25rem;
      }
      .buttons {
        padding: 0;
        margin: 0;
      }
    }
  }
}

@media (max-width: 870px) {
  #rightContent .contentParagraph {
    font-size: 1.9vw;
  }

  .contentHeader {
    font-size: 2vw;
  }
}

@media (max-width: 870px) {
  #subpagesMain {
    height: 60vh;
  }
}

@media (max-width: 760px) {
  #rightContent .contentParagraph {
    font-size: 2vw;
  }
  .serviceContainer {
    display: none;
  }
  .serviceMobileContainer {
    display: flex;
  }
}

@media (max-width: 670px) {
  #subpagesMain {
    margin-top: 8%;
  }

  .contentHeader {
    margin-bottom: 1vh;
  }
}

@media (max-width: 600px) {
  .image-container {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    .opening {
      width: clamp(15.313rem, -1.563rem + 90vw, 29.375rem);
      height: 200px;
      aspect-ratio: 2/1;
      margin-top: 0;
      gap: 0;
      justify-content: space-evenly;
      position: static;
      .startInfo {
        font-size: 0.75rem;
      }
      .startTitle {
        font-size: 1.5rem;
      }
      .startSubTitle {
        font-size: 1rem;
      }
    }
    .mainPc {
      margin: 0;
      padding: 0;
      #size {
        margin-left: 0;
        width: 60vw;
        height: auto;
      }
    }
  }
  .black-right-triangle {
    display: none;
  }
  .black-left-triangle {
    display: none;
  }
  .desktopDesign {
    display: none;
  }
  .mobileDesign {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .mobileLeft {
      margin-right: clamp(0rem, -45rem + 160vw, 15rem);
    }
    .mobileRight {
      margin-left: clamp(0rem, -45rem + 160vw, 15rem);
    }
    .mobileContent {
      width: 40vw;
      background-color: #161616;
      color: white;

      .innerContent {
        padding: 1rem;
        h2 {
          font-size: clamp(1rem, 0.75rem + 1.333vw, 1.25rem);
          margin-bottom: 1rem;
          text-align: center;
        }
        p {
          padding-left: 0.5rem;
          font-size: clamp(0.75rem, 0.5rem + 1.333vw, 1rem);
        }
        .buttonContainer {
          margin-top: 1rem;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .buttons {
            margin: 0;
          }
        }
      }
      .image {
        width: 100%;
        aspect-ratio: 3/2;
        background-image: url(../../272328.d9fb89f56b4c295a5ef03fb9ec55641a.1600.jpg);

        background-repeat: none;
        background-size: cover;
      }
      .img1 {
        background-position: 10% 50%;
      }
      .img2 {
        background-position: 50% 10%;
      }
      .img3 {
        background-position: 40% 30%;
      }
    }
  }
  footer {
    flex-direction: column;
    height: auto;
    .footer-left {
      width: 100vw;
      align-items: center;
      margin-top: 0.75rem;
      .footer-row {
        a {
          font-size: 1.25rem;
        }
      }
      .footer-column {
        font-size: 1rem;
        margin: 0;
        width: 75%;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        text-align: center;
      }
    }
    .footer-right {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: clamp(15.625rem, -1.531rem + 91.5vw, 27.063rem);
        height: auto;
      }
    }
  }
}

@media (max-width: 560px) {
  #subpagesMain {
    margin-top: 10%;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 70vh;
  }

  #leftPicture {
    display: grid;
    width: 100%;
    margin-top: 3%;
  }

  #rightContent {
    display: grid;
    width: 100%;

    .contentHeader {
      margin-top: 1vh;
      margin-bottom: 1vh;
    }
  }

  #rightContent .contentParagraph {
    font-size: 2.8vw;
    margin-top: 0;
    margin-bottom: 0;
  }

  .buttons {
    font-size: 2vw;
    height: 8vw;
    width: 12vh;
  }
}

@media (max-width: 450px) {
  .mobileDesign {
    .mobileContent {
      width: 80vw;
    }
  }
}

@media (max-width: 400px) {
  #rightContent .contentParagraph {
    font-size: 3vw;
  }

  .buttons {
    font-size: 2.5vw;
    height: 10vw;
    width: 14vh;
  }
}

.buttons1 {
  background: linear-gradient(to right, #1698de, #5b58ff) padding-box,
    linear-gradient(to right, #1698de, #5b58ff) border-box !important;
  color: white;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 10vh;
  padding-right: 10vh;
  border-radius: 5em;
}
.desktopPicture {
  background-image: url(../../../FO7bXEwX0AM1hjB.jfif);
}
