@import '../utils/size.scss', '../utils/margin.scss';

#mainContainer {
  height: 50vw;
  display: flex;
  justify-content: center;
  margin-top: calc(14vh + 30px);
  min-height: calc(calc(100vh - 14vh) - 30px);
  padding-top: 3rem;
  #supportBox {
    width: clamp(17rem, 10.816rem + 32.982vw, 40.5rem);
    height: auto;
    background-color: #2b2b2b;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
    .supportHeader {
      font-size: 30px;
      @include margin(2vh, 0, 2vh, 0);
      color: white;
    }

    .inputs {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      height: auto;

      input {
        background-color: #d9d9d9;
        border: none;
        font-size: clamp(0.95rem, 0.858rem + 0.491vw, 1.3rem);
        width: 40%;
        height: clamp(3rem, 2.737rem + 1.404vw, 4rem);
      }
    }

    .descInput {
      width: 85%;
      color: #2b2b2b;
      font-weight: bolder;
      background-color: #d9d9d9;
      font-size: clamp(0.85rem, 0.811rem + 0.211vw, 1rem);
      font-family: 'Trebuchet MS';
      margin-top: 1rem;
    }

    ::placeholder {
      color: #2b2b2b;
      font-weight: bolder;
    }

    .supportSubmit {
      width: clamp(13rem, 11.158rem + 9.825vw, 20rem);
      aspect-ratio: 7/1;
      background-color: #7800c6;
      border: none;
      font-family: 'Trebuchet MS';
      font-size: medium;
      margin-top: 5%;
      background: linear-gradient(to right, #1698de, #5b58ff) padding-box,
        linear-gradient(to right, #1698de, #5b58ff) border-box;
      border: 5px solid transparent;
      font-size: 20px;
      border-radius: 1em;
      color: white;
    }

    #map-responsive {
      overflow: hidden;
      position: relative;
      height: 40%;
      margin: auto;
      background-color: #d9d9d9;
      width: 80%;
      margin-bottom: 3.5%;
    }
  }
}
